<p-card>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-4">
        <label class="ui-g-12 ui-md-2">Client</label>
        <div class="ui-inputgroup ui-g-12 ui-md-8">
          <input type="text" pInputText readonly>
          <button pButton type="button" icon="fas fa-search" class="ui-button-warn"></button>
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
        <label class="ui-g-12 ui-md-3">Sub branch</label>
        <div class="ui-g-12 ui-md-8">
          <input type="text" pInputText readonly>
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
        <label class="ui-g-12 ui-md-3">Department</label>
        <div class="ui-g-12 ui-md-8">
          <input type="text" pInputText readonly>
        </div>
      </div>
    </div>
  </div>
  <p-footer>
    <p-button label="Submit" (click)="onSubmit()" icon="fas fa-save"></p-button>
  </p-footer>
</p-card>

