<div class="tabTitlePanel">
  <p-tabMenu [model]="items"></p-tabMenu>
</div>

<p-card>
  <p-table [columns]="cols" [value]="data" selectionMode="single">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" style="background-color: #3071a9; color: white;">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-footer>
    <p-button label="New Task" icon="fas fa-plus" (click)="onNewTask()"></p-button>
    &nbsp;
    <p-button label="Calendar View" icon="fas fa-calendar" [routerLink]='["calendar"]'></p-button>
  </p-footer>
</p-card>
<app-taskModal [(showDialog)]="showDialog" [(data)]="formData" (SubmitClick)="onSubmit($event)"></app-taskModal>

