<div class="tabTitlePanel">
  <p-tabMenu [model]="items"></p-tabMenu>
  <p-card>
    <div class="ui-g" *ngIf="statistics">
      <app-statistic [label]="statistics.MyHours.Label" [value]="statistics.MyHours.Data" [icon]="statistics.MyHours.Icon" [colour]="statistics.MyHours.Color" class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>
      <app-statistic [label]="statistics.Stories.Label" [value]="statistics.Stories.Data" [icon]="statistics.Stories.Icon" [colour]="statistics.Stories.Color" class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>
      <app-statistic [label]="statistics.Remaining.Label" [value]="statistics.Remaining.Data" [icon]="statistics.Remaining.Icon" [colour]="statistics.Remaining.Color" class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>
      <app-statistic [label]="statistics.Sprints.Label" [value]="statistics.Sprints.Data" [icon]="statistics.Sprints.Icon" [colour]="statistics.Sprints.Color" class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>
    </div>

    <div class="ui-g">
      <p-panel class="ui-g-12 ui-md-6" header="Pie Chart 1">
        <p-chart type="pie" [data]="pie1"></p-chart>
      </p-panel>
      <p-panel class="ui-g-12 ui-md-6" header="Pie Chart 2">
        <p-chart type="pie" [data]="pie2"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g">
      <p-panel class="ui-g-12" header="Bar Chart">
        <p-chart type="bar" [data]="bar1"></p-chart>
      </p-panel>
    </div>
  </p-card>
</div>


