<div class="tabTitlePanel">
  <p-tabMenu [model]="items"></p-tabMenu>
  <p-card>
    <div class="ui-g" *ngIf="dashboardService.data">
      <app-statistic [(label)]="dashboardService.data.myHours.label" [(value)]="dashboardService.data.myHours.data" [(icon)]="dashboardService.data.myHours.icon" [(colour)]="dashboardService.data.myHours.color" class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>
      <app-statistic [(label)]="dashboardService.data.stories.label" [(value)]="dashboardService.data.stories.data" [(icon)]="dashboardService.data.stories.icon" [(colour)]="dashboardService.data.stories.color" class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>
      <app-statistic [(label)]="dashboardService.data.remaining.label" [(value)]="dashboardService.data.remaining.data" [(icon)]="dashboardService.data.remaining.icon" [(colour)]="dashboardService.data.remaining.color" class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>
      <app-statistic [(label)]="dashboardService.data.sprints.label" [(value)]="dashboardService.data.sprints.data" [(icon)]="dashboardService.data.sprints.icon" [(colour)]="dashboardService.data.sprints.color" class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>
    </div>

    <div class="ui-g">
      <p-panel class="ui-g-12 ui-md-6" header="Pie Chart 1">
        <p-chart type="pie" [data]="pie1"></p-chart>
      </p-panel>
      <p-panel class="ui-g-12 ui-md-6" header="Pie Chart 2">
        <p-chart type="pie" [data]="pie2"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g">
      <p-panel class="ui-g-12" header="Bar Chart">
        <p-chart type="bar" [data]="bar1"></p-chart>
      </p-panel>
    </div>
  </p-card>
</div>


